::root {
    --header-height: 38px
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: raleway,sans-serif;
}

/* a {
    color: #333;
    text-decoration: none;
} */

.active {
    display: block !important;
}

.header {
    background-color: #f4f4f4;
}

.header__category-left,
.header__category-right {
    display: flex;
    list-style: none;
}

.header__category-right {
    justify-content: flex-end;
}

.header__category-right span,
a,
.header__category-left a {    
    display: block;
    font-size: 13px;
    color: #888;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

a:hover,
.header__category-right span:hover,
.header__category-left a:hover {
    color: #17a78b;
    text-decoration: underline;
}

.header__category-right i,
.header__category-left i {
    margin-right: 4px;
}

.header__category-right li {
    position: relative;
}

.select-box {
    position: absolute;
    list-style: none;
    font-size: 15px;
    background-color: #fff;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100px;
    border-radius: 5px;
    display: none;
    z-index: 99;
    box-shadow: 0 0 10px #ccc;
}

.select-box li {
    text-align: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.select-box li:first-child {
    border-radius: 5px 5px 0 0;
}

.select-box li:last-child {
    border-radius: 0 0 5px 5px;
}

.select-box li:hover {
    background-color: #ccc;
}

.site-branding-wrap {
    align-items: center;
    height: 124px;
}

.site-branding-wrap .col {
    display: flex;
}

.site-branding-wrap .col:last-child {
    justify-content: flex-end;
}

.site-branding__logo:hover {
    opacity: 0.6;
}

.site-branding__logo {
    margin-left: 20px;
}

.site-branding__cart {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 20px;
    position: relative;
    text-decoration: none !important;
}

.site-branding__cart::before {
    content: "1";
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #5a88ca;
    border-radius: 100%;
    top: -10px;
    right: -5px;
}

.site-branding__cart-text, 
.site-branding__cart-money {
    font-size: 19px;
}

.site-branding__cart-text {
    color: #666;
}

.site-branding__cart-money {
    color: #5a88ca;
    font-weight: 900;
}

.site-branding__cart-icon {
    margin-left: 15px;
}

.site-branding__cart:hover {
    background: none repeat scroll 0 0 #5a88ca;
    border-color: #5a88ca;
    color: #fff;
}

.site-branding__cart:hover .site-branding__cart-money,
.site-branding__cart:hover .site-branding__cart-text {
    color: #fff;
}

.main-menu {
    background-color: #fbfbfb;
    top: 0;
    width: 100%;
    z-index: 99;
}

.main-menu-wrap .col {
    list-style: none;
    display: flex;
    align-items: center;
    z-index: 99;
    /* height: 60px; */
}

.main-menu-wrap .col li {
    height: 100%;
}

.main-menu-active,
.main-menu-wrap .col a:hover {
    background-color: #5a88ca;
    color: #fff !important;
}

.main-menu-wrap .col a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #6e6a6a;
    font-size: 14px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    margin-right: 0;
    z-index: 100;
}

.main-menu-wrap__icon {
    display: none;
}

.slider__item {
    display: flex;
    position: relative;
}

.slider__item-img {
    width: 100%;
    height: auto;
}

.slider__item-info {
    position: absolute;
    top: 26%;
    right: 16%;
}

.slider__item-info-header {
    font-size: 30px;
    font-weight: 400;
}

.slider__item-info-now-text {
    color: #666;
    font-size: 14px;
    width: 128px;
    margin-top: 27px;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
}

.slider__item-info-now-text span {
    /* transform: translateX(16px); */
    margin-left: 10px;
    transition: transform 1s ease;
}

.slider__item-info-now-icon {
    background-color: #5a88ca;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    color: #fff;
    transition: transform 1.5s ease;
    z-index: 98;
}

.slider-wrap {
    position: relative;
    padding: 0;
}

.slider-wrap__angle-right,
.slider-wrap__angle-left {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    font-size: 20px;
}

.slider-wrap__angle-right:hover,
.slider-wrap__angle-left:hover {
    background-color: #5a88ca;
    color: #fff;
}

.slider-wrap__angle-right {
    right: 0;
}


@media (max-width: 1023px) {
    .header-wrap {
        flex-direction: column;
        justify-content: center;
    }

    .header__category-left,
    .header__category-right {
        justify-content: center;
        flex-wrap: wrap;
    }
}


@media (max-width: 740px) {
    .header-wrap {
        margin-right: 0;
    }

    .site-branding {
        height: 180px;
    }

    .site-branding-wrap {
        margin: 0;
        height: 150px;
    }

    .site-branding-wrap .col {
        justify-content: center !important;
    }

    .site-branding__logo {
        margin-left: 0;
    }

    .site-branding__cart {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        width: 100%;
    }

    .main-menu {
        /* margin-top: 35px; */
        position: relative;
    }

    .main-menu-wrap {
        justify-content: center;
        margin: 0;
    }

    .active-main-menu {
        /* visibility: visible !important; */
        height: calc(60px * 7) !important;
    }

    .main-menu-wrap .col {
        /* visibility: hidden; */
        position: absolute;
        top: 100%;
        padding: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height .5s;
    }

    .main-menu-wrap .col li {
        width: 100%;
        background-color: #fafafaa6;
        height: unset;
    }

    .main-menu-wrap__icon {
        display: flex;
        font-size: 24px;
        align-items: center;
        height: 60px;
    }

    .main-menu-wrap__icon i {
        cursor: pointer;
    }

}

@media (min-width: 1024px) and (max-width: 1239px) {
    .header__category-left,
    .header__category-right {
        display: flex !important;
    }
}



